<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>SIGNUP</h3>

    <form action="/signup/" method="post">
        {% csrf_token %}
        <label for="">User name</label>
        <input type="text" name="username" id="username" placeholder="Create a username (only letter and number)" required></br>
        
        <label for="">First name</label>
        <input type="text" name="fname" id="fname" placeholder="Enter your first name" required></br>
        
        <label for="">Last name</label>
        <input type="text" name="lname" id="lname" placeholder="Enter your last name" required></br>

        <label for="">Email</label>
        <input type="text" name="email" id="email" placeholder="Enter your email" required></br>
        
        <label for="">Password</label>
        <input type="text" name="pass1" id="pass1" placeholder="Enter your password" required></br>

        <label for="">Confirm Password</label>
        <input type="text" name="pass2" id="pass2" placeholder="Confirm your password" required></br>
        <button type="submit">submit</button>
    </form> 


</body>
</html>